<div class="epic-show-page">

  <div class="epic-show-header">

    <div>

      <h1 class="epic-show-title">
        <%= @epic.title %>
      </h1>

      <p class="epic-show-project">
        <%= @epic.project.name %>
      </p>

    </div>

    <div class="show-actions">

      <%= link_to "Edit",
          edit_epic_path(@epic),
          class: "btn-edit" %>

      <%= link_to "Back",
          epics_path,
          class: "back-btn" %>

    </div>

  </div>

  <div class="epic-details-card">

    <h2 class="section-title">
      Description
    </h2>

    <p>
      <%= @epic.description %>
    </p>

  </div>

</div>